@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-box:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem rgb(77, 54, 133);
}

body {
  display: grid;
  font-family: "Nunito";
  font-weight: 400;
  grid-template-columns: 2fr 11fr;
  background-color: rgb(236, 236, 236);
}

.sidemenu {
  padding: 1rem;
}

.menu-icon {
  width: 2.4rem;
  transition: all 0.3s;
}

.menu-icon:hover {
  cursor: pointer;
  color: rgb(60, 45, 115);
}

/* SEARCH BOX SECTION*/

.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem;
  border-left: 1px solid rgb(193, 182, 152);
  border-bottom: 1px solid rgb(193, 182, 152);
}

.search-box {
  background-color: rgb(244, 244, 244);

  /* box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.066); */

  border-style: solid;
  border: 0.08rem solid #999;
  border-radius: 0.6rem;
  padding: 0.6rem 0rem 0.7rem 0.8rem;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
}

.profile-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(81, 86, 146);
  border-radius: 2rem;
  justify-self: end;
  padding: 0.5rem 0.6rem 0.6rem;
  transition: all 0.3s;
}

.profile-box:hover {
  cursor: pointer;
  background-color: rgb(69, 58, 128);
}

.profile-icon {
  width: 1.6rem;
  color: rgb(232, 226, 255);
}

/* SIDE FILTER SECTION */

.filter {
  padding: 0rem 1rem;
  height: 100vh;
}

.filter-heading {
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.tags {
  border-bottom: 1px solid rgb(214, 207, 199);
  padding-bottom: 1rem;
}

.tag {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-style: none;
  background-color: #e4d8ff;
  color: #402f7c;
  border-radius: 3rem;
  margin-bottom: 1rem;

  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 600;

  transition: all 0.3s;
}

.tag:hover {
  cursor: pointer;
  background-color: rgb(207, 190, 255);
}

.categories {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  border-bottom: 1px solid rgb(214, 207, 199);
}

.category-box {
  width: 100%;
  margin-bottom: 1rem;

  display: flex;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;

  align-items: center;
  justify-content: space-between;

  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;

  border-style: none;

  transition: all 0.3s;
}

.category-box:hover {
  cursor: pointer;
  background-color: rgb(228, 217, 255);
}

.category-selected {
  background-color: rgb(206, 201, 233);
}

.category-number {
  color: rgb(86, 75, 126);
  font-family: "Nunito";
  font-weight: 600;
}

/* ARTICLES SECTION */

.articles {
  border-left: 1px solid rgb(193, 182, 152);

  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem;
  row-gap: 1rem;

  overflow-y: scroll;
}

.article {
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 0.8rem;

  display: grid;
  grid-template-columns: 9fr 5fr;

  column-gap: 0.5rem;

  transition: all 0.5s;
}

.article:hover {
  transform: translateY(-0.6%);
  background-color: rgb(201, 201, 201);
}

.article-content {
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.article-heading:link,
.article-heading:visited {
  text-decoration: none;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.6rem;
  grid-column: 1/-1;
  color: inherit;
  transition: all 0.3s;
}

.article-heading:hover,
.article-heading:active {
  color: rgb(52, 37, 105);
}

.article-text {
  font-size: 1rem;
  line-height: 1.6;
  font-style: italic;
}

.author-box {
  justify-self: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-left: 1px solid black;
}

.article-img {
  width: 100%;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  object-fit: cover;
}

.author-img {
  width: 3.2rem;
  border-radius: 50%;
}
